<div class="container" style="margin-top: 20px;">

  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify;height: 100%">
        <p class="text-info" style="font-size: medium"><strong>Enabling new business model</strong> through an ecosystem for Data, Products and Services, leveraging TCS' Marketplace Platform, which brings customers of Telcos i.e. consumers and Enterprise, onto a SINGLE platform.</p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify">
        <p class="text-info" style="font-size: medium"><strong>Creating new revenue Stream</strong> through verticalized solutions and newer products/services for B2B segment, enabled by TCS HOBS platform which considers the complexity and variations which are unique to B2B segment.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: justify;margin-top: 30px;"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img src="images/logo value.png" class="img-responsive">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: justify;margin-top: 50px;"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify">
        <p class="text-info" style="font-size: medium"><strong>Monetisation of IoT services</strong> leveraging TCS solutions, frameworks, products and our partnership ecosystem covering the entire IOT value chain.</p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify">
        <p class="text-info" style="font-size: medium"><strong>Integrating Next Gen Digital Content services</strong> into a Telco’s landscape to create new revenue streams. TCS Digital platform and OTT 2.0 Video services accelerates digital video strategies with a comprehensive portfolio of services and solutions. </p>
      </div>
    </div>
  </div>
  <div>
    <p class="text-primary"><strong>Telcos as Value Integrators in Digital Era</strong></p>
  </div>

  <div class="container-fluid">
    <div class="container-fluid" style="text-align: right">
      <a class="btn btn-info" href="pdfs/2 Value Integrators .pdf" target="_blank"><strong>Guidelines</strong></a>
      <a class="btn btn-info" (click)="navigateToValueIntegrationCapabilities()"><strong>Capabilities & Demos</strong></a>
    </div>
  </div>

</div>
