<div class="container" style="margin-top: 20px;">

  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify;height: 100%">
        <p class="text-info" style="font-size: medium"><strong>Transform towards Hybrid or Virtual network</strong> leveraging SDN/NFV use cases. TCS' VeNsure Platform helps in VNF onboarding, scaling as well as E2E testing on physical, hybrid and virtual networks. </p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify">
        <p class="text-info" style="font-size: medium"><strong>Business agility</strong> to dynamically create, co-create, share and consume services, leveraging TCS’ Digital Integration Platform</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: justify;margin-top: 30px;">
        <p class="text-info" style="font-size: medium"><strong>Transform from traditional to autonomous network operations</strong> enabled through TCS’ NOMaaS (Network Operations and Management-as-a-Service) framework powered by AI/ML based cognitive NOC/SOC solution.</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img src="images/logo dig core.png" class="img-responsive">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: justify;margin-top: 50px;">
        <p class="text-info" style="font-size: medium"><strong>Create dynamic Product offers and launch</strong> them rapidly leveraging TCS’ HOBS Product Catalog.  </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify">
        <p class="text-info" style="font-size: medium"><strong>Digitisation and automation of Next gen infrastructure rollout</strong> using TCS’ FRaaS (Fiber Rollout-as-a-Service) platform.</p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify">
        <p class="text-info" style="font-size: medium"><strong>Transforming towards real-time, responsive, intelligent enterprise</strong> where, TCS’ Digital Twin framework enables Telcos to seamlessly navigate the transformation journey. </p>
      </div>
    </div>
  </div>
  <div>
    <p class="text-primary"><strong>Transforming Telcos to be “Smart Services” providers</strong></p>
  </div>

  <div class="container-fluid">
    <div class="container-fluid" style="text-align: right">
      <a class="btn btn-info" href="pdfs/1 Smart Services providers.pdf" target="_blank"><strong>Guidelines</strong></a>
      <a class="btn btn-info" (click)="navigateToSmartServiceCapabilities()"><strong>Capabilities & Demos</strong></a>
    </div>
  </div>

</div>
