<div class="container" style="margin-top: 20px;">

  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify;height: 100%"></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify">
        <p class="text-info" style="font-size: medium"><strong>Hyper Personalised Digital Marketing</strong> delivered through TCS’ Digital Marketing framework, enables Telcos to deliver holistic and personalised marketing across multiple channels.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: justify;margin-top: 30px;">
        <p class="text-info" style="font-size: medium"><strong>Re-imagining Workplace towards paradigm shift in customer engagement</strong> - Gamification themes, backed up by technologies including AR/VR Platforms, enable them to unify workforce across the enterprise and improve Net Promotor Score.</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img src="images/logo fot.png" class="img-responsive">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: justify;margin-top: 50px;"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify"></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: justify">
        <p class="text-info" style="font-size: medium"><strong>Context aware customer engagement</strong> enabled through a single view of customer, product and processes enhanced by analytics provides personalized customer engagement.</p>
      </div>
    </div>
  </div>
  <div>
    <p class="text-primary"><strong>Envisioning Telcos as “Custodians of Digital Experience”</strong></p>
  </div>

  <div class="container-fluid">
    <div class="container-fluid" style="text-align: right">
      <a class="btn btn-info" href="pdfs/3 Custodian of digital experience.pdf" target="_blank"><strong>Guidelines</strong></a>
      <a class="btn btn-info" (click)="navigateToDigitalExperianceCapabilities()"><strong>Capabilities & Demos</strong></a>
    </div>
  </div>

</div>
