<div class="container" style="text-align: justify; margin-top: 10px;">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img src="images/Custodian of Digital Experiences.jpeg" class="img-responsive">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 40px">
        <h3 class="text-info">Envisioning Telcos as “Custodians of Digital Experience”</h3>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: right">
        <a class="btn btn-info" (click)="navigateToHome()"><strong>Back to Home</strong></a>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 20px">
    <div>
      <h3 class="text-muted">Capabilities</h3>
    </div>
    <div>
      <p class="text-info" style="font-size: medium">Widgets for FoT and Gamification</p>
    </div>
  </div>

  <div class="container-fluid">
    <div>
      <h3 class="text-muted">Demos</h3>
    </div>
    <div class="row">
      <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 0px;padding-right: 0px; ">
          <!--
          <img style="float: right" src="images/dig marketing 3.png" class="img-responsive" height="100" width="100">
          -->
          <embed class="img-responsive" src="images/svg-icons/dig marketing.svg" style="position:absolute;top:10px;left:10px;width:150px;height:150px">
        </div>
        <!--
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;padding-right: 5px; background-color: chocolate">
          <p style="float: left; color: white; font-size: small"><strong>Digital Integration platform</strong> </p>
        </div>
        -->
      </div>
      <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 container">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 0px;padding-right: 0px">
          <!--
          <img style="float: right" src="images/cust engagement1.png" class="img-responsive" height="100" width="100">
          -->
          <embed class="img-responsive" src="images/svg-icons/cust engagement1.svg" style="position:absolute;top:10px;left:10px;width:150px;height:150px">
        </div>
        <!--
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;padding-right: 5px; background-color: chocolate">
          <p style="float: left; color: white; font-size: small" class="text-info"><strong>TCS HOBS Product Catalog</strong></p>
        </div>
        -->
      </div>
      <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 container">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 0px;padding-right: 0px">
          <!--
          <img style="float: right" src="images/gamification.png" class="img-responsive" height="100" width="100">
          -->
          <embed class="img-responsive" src="images/svg-icons/gamification.svg" style="position:absolute;top:10px;left:10px;width:150px;height:150px">
        </div>
        <!--
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;padding-right: 5px; background-color: chocolate">
          <p style="float: left; color: white; font-size: small" class="text-info"><strong>Digital twin</strong></p>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
