<div class="container" style="margin-top: 100px;">

  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 div-shadow">
      <div>
        <img src="images/logo dig core.png" class="img-responsive" (click)="navigateToSmartServicesHome()">
      </div>
      <div>
        <h4 class="text-muted">Transforming Telcos to be “Smart Services” providers</h4>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 div-shadow">
      <div>
        <img src="images/logo value.png" class="img-responsive" (click)="navigateToValueIntegrationHome()">
      </div>
      <div>
        <h4 class="text-muted">Telcos as Value Integrators in Digital Era</h4>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 div-shadow">
      <div>
        <img src="images/logo fot.png" class="img-responsive" (click)="navigateToDigitalExperianceHome()">
      </div>
      <div>
        <h4 class="text-muted">Envisioning Telcos as “Custodians of Digital Experience”</h4>
      </div>
    </div>

  </div>

</div>
