<div class="container" style="text-align: justify; margin-top: 10px;">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img src="images/Value Integrators.jpeg" class="img-responsive">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 40px">
        <h3 class="text-info">Telcos as Value Integrators in Digital Era</h3>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: right">
        <a class="btn btn-info" (click)="navigateToHome()"><strong>Back to Home</strong></a>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 20px">
    <div>
      <h3 class="text-muted">Capabilities</h3>
    </div>
    <div>
      <p class="text-info" style="font-size: medium">Widgets for HOBS, Trivus and DnA</p>
    </div>
  </div>

  <div class="container">
    <div>
      <h3 class="text-muted">Demos</h3>
    </div>
    <div class="row">
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
        <div>
          <!--
          <img style="float: right" src="images/revenue stream.png" class="img-responsive" height="100" width="100">
          -->
          <embed class="img-responsive" src="images/svg-icons/revenue stream.svg" style="position:absolute;top:10px;left:10px;width:150px;height:150px">
        </div>
        <!--
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;padding-right: 5px; background-color: chocolate">
          <p style="float: left; color: white; font-size: small"><strong>Digital Integration platform</strong> </p>
        </div>
        -->
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 ">
        <div>
          <!--
          <img style="float: right" src="images/HOBS iot.png" class="img-responsive" height="100" width="100">
          -->
          <embed class="img-responsive" src="images/svg-icons/cloud iot.svg" style="position:absolute;top:10px;left:10px;width:150px;height:150px">
        </div>
        <!--
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;padding-right: 5px; background-color: chocolate">
          <p style="float: left; color: white; font-size: small" class="text-info"><strong>TCS HOBS Product Catalog</strong></p>
        </div>
        -->
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 ">
        <div>
          <!--
          <img style="float: right" src="images/trivus.png" class="img-responsive" height="100" width="100">
          -->
          <embed class="img-responsive" src="images/svg-icons/trivus1.svg" style="position:absolute;top:10px;left:10px;width:150px;height:150px">
        </div>
        <!--
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;padding-right: 5px; background-color: chocolate">
          <p style="float: left; color: white; font-size: small" class="text-info"><strong>Digital twin</strong></p>
        </div>
        -->
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 ">
        <div>
          <!--
          <img style="float: right;" src="images/digital market place.png" class="img-responsive" height="100" width="100">
          -->
          <embed class="img-responsive" src="images/svg-icons/digital market place.svg" style="position:absolute;top:10px;left:10px;width:150px;height:150px">
        </div>
        <!--
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="padding-left: 5px;padding-right: 5px; background-color: chocolate">
          <p style="float: left; color: white; font-size: small" class="text-info"><strong>Network Engineering - FRaaS</strong></p>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
